* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.box{
    height: 150px;
    width: 700px;
    display: flex;
}

#top-box {
    border: 3px solid black;
    margin: 20px auto;
}

section > div {
    margin: auto 5px 5px 5px;
}
#purple-box {
    width: 30px;
    height: 100px;
    background: rgb(145, 0, 189);
    /* margin: 10px 5px; */
    margin: auto 5px 5px 5px;
}
#green-box {
    display: flex;
    width: 300px;
    height: 130px;
    margin: 10px 30px;
    background: green;
}
#blue-circle {
    width: 130px;
    height: 130px;
    margin: 10px 0px;
    background: rgb(0, 141, 223);
    border-radius: 50%;
}

#middle-box {
    height: 200px;
    border: 3px solid black;
    border-style: dotted;
    margin: 20px auto;
}
#beige-box {
    width: 600px;
    height: 130px;
    background: beige;
    margin: auto;
    box-shadow: 5px 5px 5px black;
}

#bottom-box {
    width: 400px;
    height: 200px;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 2px 3px rgb(209, 209, 209);
    margin: 20px auto;
}
h3 {
    color: rgb(17, 17, 160);
    text-align: center;
    letter-spacing: 3px;
    margin: auto;
}